@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

/* ------------- GLOBAL ------------- */

body{
  margin: 0;
  padding: 0;
}

h2{
  margin: 0 0 0.2em 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  font-weight: 700;
}

h3{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
}

p{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 200;
}

p > span {
  font-weight: 300;
}

.default_button{
  display: block;
  margin: 0.5em 0;
  padding: 1em 2em;
  max-width: 100px;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-size: 0.8em;
  font-weight: 300;
  text-align: center!important;
  text-decoration: none;
  background-color: #FF2E76;
  border: none;
  border-radius: 3em;
  transition: all 0.3s;
}

.button_color_pink{
  background-color: #FF2E76;
}

.button_color_pink:hover{
  background-color: #d52360;
}

.button_color_blue{
  background-color: #334371;
}

.button_color_blue:hover{
  background-color: #243053;
}

/* ------------- HEADER ------------- */

header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0 2em;
  height: 10vh;
  background-color: #f2f2f2;
}

header > a{
  margin: 0 auto 0 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #FF2E76;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s;
}

header > a:hover{
  color: #d52360;
}

header > a:before{
  margin: 0 0.5em 0 0;
  content: url(/upload/arrow_left_icon_black.svg);
  display: inline-block;
  width: 0.750em;
  height: 0.750em;
}

header > section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 0 auto;
  padding: 0;
  width: 16em;
}

header > section > a > img{
  display: block;
  margin: 0;
  max-width: 40px;
  max-height: 40px;
  width: auto;
  height: auto;
  border-radius: 50%;
}

/* ------------- MAIN ------------- */

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 2em;
  max-width: 800px;
}

main > section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 2.5em 0 0 0;
}

main > section > form > label{
  display: block;
  margin: 0.5em 0;
  padding: 0;
  width: max-content;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8em;
  font-weight: 300;
}

main > section > form > button{
  width: 100%;
  margin: 2em 0 0 0!important;
}

main > section > form > button:hover{
  cursor: pointer;
}

/* ------------- DASHBOARD ------------- */

.dashboard{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  width: auto;
}

.dashboard > h2{
  grid-column-start: 1;
  grid-column-end: end;
}

.dashboard_item{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.5em;
  text-align: center;
  border: 1px solid #f1f1f1;
}

.dashboard_item > img{
  display: block;
  margin: 0 auto;
  max-width: 150px;
  max-height: 150px;
  width: auto;
  height: auto;
  border-radius: 50%;
}

.dashboard_item > h3{
  margin: 1em 0 0 0;
}

.dashboard_item > p{
  margin: 0 0 2em 0;
  font-size: 12px;
}

.dashboard_item > a{
  margin: 0 auto;
}

/* ------------- PROFILE ------------- */

.profile > img{
  margin: 0 0 2.5em 0;
  max-width: 250px;
  max-height: 250px;
  width: auto;
  height: auto;
  border-radius: 50%;
}

.profile > p{
  margin: 0 0 1em 0;
}

.button_remove{
  margin: 1em 0 0 0;
  padding: 1em 2em;
  width: fit-content;
  background-color: #d70e0e;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-size: 0.8em;
  font-weight: 500;
  border: none;
  border-radius: 3em;
  transition: all 0.3s;
}

.button_remove:hover{
  background-color: #c20b0b;
  cursor: pointer;
}

.button_edit{
  margin: 1em 0 0 0;
  padding: 1em 2em;
  width: fit-content;
  background-color: #334371;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-size: 0.8em;
  font-weight: 500;
  border: none;
  border-radius: 3em;
  transition: all 0.3s;
}

.button_edit:hover{
  background-color: #243053;
  cursor: pointer;
}
