<% include head.ejs %>

<header>

  <section>

    <% if (user) { %>
      <a class="default_button" href="/:id">Profiel</a>
      <a class="default_button button_color_blue" href=/log-out>Logout</a>
    <% } %>

  </section>

</header>

<main>

<section>

  <% if (user) { %>
    <h2>Dashboard | <%= user.username %></h2>
  <% } %>

  <% for (var index = 0; index < data.length; index++) { %>
    <h3><a href="/<%= data[index].id %>"><%= data[index].username %></a></h3>
    <p><%= data[index].description %></p>
  <% } %>

</section>

</main>

<% include script.ejs %>
