<% include head.ejs %>

<header>



</header>

<main>

  <section>

    <h2>Login</h2>
    <p>Login bij jouw account.</p>

    <form action=/log-in method=post>

      <label>Gebruikersnaam</label>
      <input name="username">

      <label>Wachtwoord</label>
      <input name="password" type="password">

      <button class="default_button button_color_pink">Login</button>

    </form>

  </section>

</main>

<% include script.ejs %>
