<% include components/head.ejs %>

<header>

  <a href="/">Terug</a>

</header>

<main>

  <h2>Login</h2>
  <p>Login bij jouw account.</p>

  <section>

    <form action=/log-in method=post>

      <label>Gebruikersnaam</label>
      <input name="username" required>

      <label>Wachtwoord</label>
      <input name="password" type="password" required>

      <button class="default_button button_color_pink">Login</button>

    </form>

  </section>

</main>

<% include script.ejs %>
