<% include head.ejs %>

<header>

  <a href="/dashboard">Home</a>

  <section>

    <% if (user) { %>
      <a class="default_button" href=/profile>Profiel</a>
      <a class="default_button button_color_blue" href=/log-out>Logout</a>
    <% } %>

  </section>

</header>

<main>

<section>

  <h2>Profiel</h2>

  <% if (user) { %>
    <img src="/upload/<%= user.picture %>" alt="Profile picture">
    <p><span>Naam:</span> <%= user.username %></p>
    <p><span>Leeftijd:</span> <%= user.age %></p>
    <p><span>Omschrijving:</span> <%= user.description %></p>
  <% } %>

</section>

</main>

<% include script.ejs %>
