<% include head.ejs %>

<header>

  <a href="/dashboard">Terug</a>

  <section>

    <% if (user) { %>
      <a class="default_button" href="/:id">Profiel</a>
      <a class="default_button button_color_blue" href=/log-out>Logout</a>
    <% } %>

  </section>

</header>

<main>

<section>

  <h2>Profiel</h2>

    <img src="/upload/<%= data.picture %>" alt="Profile picture">
    <p><span>Naam:</span> <%= data.username %></p>
    <p><span>Leeftijd:</span> <%= data.age %></p>
    <p><span>Omschrijving:</span> <%= data.description %></p>

</section>

</main>

<% include script.ejs %>
