<% include head.ejs %>

<header>

<a href="/">Terug</a>

</header>

<main>

  <h2>Aanmelden</h2>
  <p>Maak een account aan.</p>

  <section>

    <form action=/sign-up method=post enctype=multipart/form-data>

      <label>Gebruikersnaam</label>
      <input name="username">

      <label>Leeftijd</label>
      <input name="age" type="number">

      <label>Geslacht</label>
      <input type="radio" name="gender" value="male"> Man
      <input type="radio" name="gender" value="female"> Vrouw
      <input type="radio" name="gender" value="other"> Anders

      <label>Ziekenhuis</label>
      <select name="hospital">
        <option value="Academisch Medisch Centrum (AMC)">Academisch Medisch Centrum (AMC)</option>
        <option value="Erasmus MC">Erasmus MC</option>
        <option value="Rode Kruis Ziekenhuis (RKZ)">Rode Kruis Ziekenhuis (RKZ)</option>
        <option value="Spaarne Ziekenhuis Hoofddorp">Spaarne Ziekenhuis Hoofddorp</option>
      </select>

      <label>Vaste bezoekdag(en)</label>
      <input type="checkbox" name="day" value="Maandag"> Maandag
      <input type="checkbox" name="day" value="Dinsdag"> Dinsdag
      <input type="checkbox" name="day" value="Woensdag"> Woensdag
      <input type="checkbox" name="day" value="Donderdag"> Donderdag
      <input type="checkbox" name="day" value="Vrijdag"> Vrijdag
      <input type="checkbox" name="day" value="Zaterdag"> Zaterdag
      <input type="checkbox" name="day" value="Zondag"> Zondag

      <label>Omschrijving</label>
      <textarea name="description" rows="8" cols="50"></textarea>

      <label>Profiel Foto</label>
      <input name=cover type=file accept=image/*>

      <label>Email</label>
      <input name="email" type="email">

      <label>Wachtwoord</label>
      <input name="password" type="password">

      <button class="default_button button_color_pink">Aanmelden</button>

    </form>

  </section>

</main>

<% include script.ejs %>
