<% include head.ejs %>

<header>

<a href="/">Terug</a>

</header>

<main>

  <section>

    <h2>Aanmelden</h2>
    <p>Maak een account aan.</p>

    <form action=/sign-up method=post enctype=multipart/form-data>

      <label>Gebruikersnaam</label>
      <input name="username">

      <label>Leeftijd</label>
      <input name="age" type="number">

      <label>Geslacht</label>
      <input type="radio" name="gender" value="male"> Man
      <input type="radio" name="gender" value="female"> Vrouw
      <input type="radio" name="gender" value="female"> Anders

      <label>Omschrijving</label>
      <textarea name="description" rows="8" cols="50"></textarea>

      <label>Profiel Foto</label>
      <input name=cover type=file accept=image/*>

      <label>Email</label>
      <input name="email" type="email">

      <label>Wachtwoord</label>
      <input name="password" type="password">

      <button class="default_button button_color_pink">Aanmelden</button>

    </form>

  </section>

</main>

<% include script.ejs %>
