<% include head.ejs %>

<header>



</header>

<main>

<section>

  <h2>Dating App</h2>
  <p>Welkom bij de dating app voor langdurig zieken.</p>

  <a class="default_button button_color_blue" href="/log-in">Login</a>

  <a class="default_button button_color_pink" href="/sign-up">Aanmelden</a>

</section>

</main>

<% include script.ejs %>
